*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
venv
/env
/venv
/staticfiles/
env
venv 
postgres-data/
redis-data/
.vscode/
*scratch*.*
scratch.txt
htmlcov/



#src
*.sqlite*

.env

/data
/letsencrypt