{% extends 'layouts/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Sign Up</h1>
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Enter your username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Enter your password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Enter your password">
                        </div>
                    </div> -->
                    <div class="field mt-4">
                        <div class="control">
                            <button class="button is-primary" type="submit">Sign Up</button>
                            <a class="button is-info" href="{% url 'login' %}">
                                Log in
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}